@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,900');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
section{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: #0e0e0e;

}

.text{
    position: relative;
    transform: skewY(345deg) translateY(-200px);
    animation: animatecolor 5s linear infinite;
}
/* @keyframes animatecolor {
    0%{
        filter: hue-rotate(0deg);

    }
    100%{
        filter: hue-rotate(360deg);
    }
    
} */
.text h2{
    position: relative;
    width: 100%;
    font-size: 6em;
    color: #fff;
    pointer-events: none;
    line-height: 1em;
    white-space: nowrap;
    text-shadow: calc(var(--x)) 10px 0 rgba(225, 225, 225, 0.2);
    transform: translateX(calc(0% - var(--x) * var(--i)) );
 
}
.text h2 span{
    color: rgb(85, 206, 255);
    margin: 0 10px;
}

.text h2 span:nth-child(even){
    color: transparent;
    -webkit-text-stroke: 2px #fff;
}

/* .span::after, span::before{
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
span::after{
    color: #ff00c1;
    animation: glitch-effect 1s infinite;
}
span::before{
    color: #3498db;
    animation: glitch-effect 2s infinite;

}

@keyframes glitch-effect {
    0%{
        left: -2px;
        top: -2px;
    }
    25%{
        top: 2px;
        left: 2px;
    }
    50%{
        left: -1px;
        top: 2px;
    }
    75%{
        left: 1px;
        top: -1px;
    }
    100%{
        left: 0px;
        top: -2px;
    }
} */

.detail{margin: ;
    display: block;
    width: 200px;
    height: 100px;
    filter: blur(5px
    );
}